body{
	padding: 0;
	margin:0;
	font-family: open-sans-regular;
	background-image: url(../imgs/bg-login.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*Login*/
#box-login{
	margin-top: 13%;
	text-align: center;
	border-radius:10px;
	padding: 10px 30px 0px 30px;
	background-color: rgba(255, 255, 255, 0.9);
}
#logo-login{
	margin-top: 20px;
	width: 100%;
	margin-bottom: 40px;
}
#input-nome{
	height: 50px;
}
#input-senha{
	height: 50px;
}

/*Login Responsivo*/
@media screen and (max-width: 375px) {
	#box-login{
		margin-top: 10%;
		background-color: rgba(255, 255, 255, 0.9);
	}
	body{
		margin:0;
		padding-left: 10px;
		padding-right: 10px;
	}
	#btn-limpar{
		margin-bottom: 8px;
		height: 45px;
	}
	#btn-entrar{
		margin-bottom: 8px;
		height: 45px;
	}
}

@media screen and (max-width: 800px) {
	#box-login{
		margin-top: 40%;
	}
	body{
		margin:0;
		padding-left: 10px;
		padding-right: 10px;
	}
	#btn-limpar{
		margin-bottom: 8px;
		height: 45px;
	}
	#btn-entrar{
		margin-bottom: 8px;
		height: 45px;
	}
}
@media screen and (max-width: 768px) {
	#box-login{
		margin-top: 40%;
	}
	body{
		margin:0;
		padding-left: 10px;
		padding-right: 10px;
	}
	#btn-limpar{
		margin-bottom: 8px;
		height: 45px;
	}
	#btn-entrar{
		margin-bottom: 8px;
		height: 45px;
	}
}
@media screen and (max-width: 1024px) {
	#box-login{
		margin-top: 40%;
	}
	body{
		margin:0;
		padding-left: 10px;
		padding-right: 10px;
	}
	#btn-limpar{
		margin-bottom: 8px;
		height: 45px;
	}
	#btn-entrar{
		margin-bottom: 8px;
		height: 45px;
	}
}